# dependencies
node_modules/

# dotenv environment files
.env
.env.*

# production
dist/
build/

# system files
.DS_Store
Thumbs.db

# local IDE/editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# test coverage
coverage/

# typescript cache
*.tsbuildinfo

# local build artifacts
*.local
